* {
    cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
}


body {
  background-image: url("sfondotestcasata.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  padding-top: 200px;
}

nav {
    position: fixed; /* Rende il menu fisso in alto */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-trasparente */
    padding: 10px 20px; /* Padding per il menu */
    z-index: 1000; /* Mantiene il menu sopra altri elementi */
}

nav ul {
    list-style-type: none; /* Rimuove i punti dalla lista */
    margin: 0;
    padding: 0;
    display: flex; /* Dispone gli elementi in orizzontale */
	justify-content: center;
}

nav li {
    margin-right: 50px; /* Spazio tra gli elementi del menu */
    color: white; /* Colore del testo */
    font-family: 'New Rocker';
}

nav li.active {
    font-weight: bold; /* Evidenzia la voce attiva */
	color: darkmagenta;
}

nav a {
    color: white; /* Colore dei link */
    text-decoration: none; /* Rimuove la sottolineatura */
	cursor: url('https://cur.cursors-4u.net/others/oth-3/oth256.cur'), auto;
}

nav a:hover {
    cursor: url('https://cur.cursors-4u.net/others/oth-3/oth256.cur'), auto; /* Cursore diverso al passaggio del mouse */
}

h1 {
	color: darkmagenta;
	text-align: center;
	margin-bottom:20px;
	font-family: 'New Rocker';
	font-size: 50px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2{
	color:white;
	margin-top: 0px;
}

