* {
    cursor: url(https://cur.cursors-4u.net/others/oth-3/oth254.cur), auto !important;
}

body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/148/377/148/abstract-gradient-wallpaper-preview.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding-top: 0;
  overflow-x: hidden;

}
nav {
    position: fixed; /* Rende il menu fisso in alto */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-trasparente */
    padding: 10px 20px; /* Padding per il menu */
    z-index: 1000; /* Mantiene il menu sopra altri elementi */
}

nav ul {
    list-style-type: none; /* Rimuove i punti dalla lista */
    margin: 0;
    padding: 0;
    display: flex; /* Dispone gli elementi in orizzontale */
	justify-content: center;
}

nav li {
    margin-right: 50px; /* Spazio tra gli elementi del menu */
    color: white; /* Colore del testo */
    font-family: 'New Rocker';
}

nav li.active {
	color: mistyrose;
	pointer-events: none;
	cursor: not-allowed;
}

nav li.active span {
    color: moccasin; /* Colore del testo per l'elemento disabilitato */
}

nav a {
    color: white; /* Colore dei link */
    text-decoration: none; /* Rimuove la sottolineatura */
	cursor: url('https://cur.cursors-4u.net/others/oth-3/oth256.cur'), auto;
}

nav a:hover {
    cursor: url('https://cur.cursors-4u.net/others/oth-3/oth256.cur'), auto; /* Cursore diverso al passaggio del mouse */
}

h1 {
	color: moccasin;
	margin: 50px auto 20px auto;
	font-family: 'New Rocker';
	font-size: 50px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;
	width: fit-content;
	}
	
p {
	font-family: 'Abhaya Libre';
	margin: 10px auto 20px auto;
	color: 	mistyrose;
	font-size: 30px;
	text-align: center;
	width: fit-content;
	}
	
img {
    display: block;
    margin: 0 auto;  /* Questo centra l'immagine orizzontalmente */
	max-width: 100%;  /* Impedisce che l'immagine superi la larghezza del contenitore */
    height: auto;
}
.image-container {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente, se necessario */
    width: 100%; /* Imposta la larghezza al 100% */
	animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Ingrandisce al 110% */
    }
    100% {
        transform: scale(1);
    }
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

